{% extends 'core/navigation.html' %}

{% block title %}
对话消息
{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="/static/gpt_35/css/message.css">
{% endblock %}

{% block operate_left %}
<a href="/view/gpt_35/dialogue/">返回</a>
{% endblock %}

{% block operate_right_top %}
<a id="editItem" role="button" href="javascript:void(0);">编辑</a>
{% endblock %}

{% block main %}
<div id="details-content" class="messagesArea"></div>
{% endblock %}

{% block operate_bottom %}
<suspended-center>
    <textarea id="new_message" rows="1" autoHeight="true"></textarea>
    <button id="updateItem" style="margin-top: 0px;">发送</button>
</suspended-center>
{% endblock %}

{% block javascript %}
<script>
    function addDetailsContent(value) {
        let content = value.content;
        content = content.replace(/( )/g, '&nbsp;');
        let codeSwitch = true;
        while (content.search('```') != -1) {
            if (codeSwitch) {
                content = content.replace(/```/, '<code>');
            } else {
                content = content.replace(/```/, '</code>');
            }
            codeSwitch = !codeSwitch;
        }
        content = content.replace(/\n/g, '<br />');
        if (value.role == 'system') {
            $('#details-content').append('<div class="item item-center"><span>' + content + '</span></div>');
        } else if (value.role == 'user') {
            $('#details-content').append('<div class="item item-right"><div class="bubble bubble-right">' + content + '</div><div class="avatar"><img src="/api/bases/me/avata/free/" /></div></div>');
        } else if (value.role == 'assistant') {
            $('#details-content').append('<div class="item item-left"><div class="avatar"><img src="/static/gpt_35/image/openai-symbol.svg" /></div><div class="bubble bubble-left">' + content + '</div></div>');
        }
    }
    $(document).ready(function () {
        $.fn.autoHeight = function() {
            function autoHeight(elem) {
                elem.style.height = 'auto';
                elem.scrollTop = 0;  // 防抖动
                elem.style.height = elem.scrollHeight + 'px';
            }
            this.each(function() {
                autoHeight(this);
                $(this).on('keyup', function() {
                    autoHeight(this);
                });
            });
        }
        $('textarea[autoHeight]').autoHeight(); 
        utilAjax(
            type = 'GET',
            url = '/api/gpt_35/dialogue/{{ item_id }}/free/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                $('#details-content').append('<div class="item item-center"><span>' + data.dialogue_name + '</span></div>');
                data.messages.forEach(function (value, index) {
                    addDetailsContent(value);
                });
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = false,
        );
        $('#editItem').click(function () {
            window.location.href = '/view/gpt_35/dialogue/update/{{ item_id }}/';
        });
        $('#updateItem').click(function () {
            utilAjax(
                type = 'PUT',
                url = '/api/gpt_35/dialogue/{{ item_id }}/message/free/',
                data = {
                    'new_message': $('#new_message').val(),
                },
                data_format = 'json',
                check = {
                    'new_message': [/^\S{1,}$/, '新消息的长度至少需要1位'],
                },
                success = function (data, textStatus) { 
                    data.messages.forEach(function (value, index) {
                        addDetailsContent(value);
                    });
                    $('#new_message').val('');
                },
                complete = function (request, textStatus) { },
                success_reminder = true,
                not_close = false,
            );
        });
    });
</script>
{% endblock %}