{% extends 'core/navigation.html' %}

{% block title %}
对话消息
{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="/static/gpt_35/css/message.css">
{% endblock %}

{% block operate_left %}
<a href="/view/gpt_35/dialogue/">返回</a>
{% endblock %}

{% block operate_right_top %}
<a id="editItem" role="button" href="javascript:void(0);">编辑</a>
{% endblock %}

{% block main %}
<div id="details-content" class="messagesArea">
    <div class="item item-center"><span>昨天 12:35</span></div>
    <div class="item item-center"><span>你已添加了凡繁烦，现在可以开始聊天了。</span></div>
    <div class="item item-left"><div class="avatar"><img src="/static/gpt_35/image/chat-gpt.svg" /></div><div class="bubble bubble-left">您好,我在武汉，你可以直接送过来吗，我有时间的话，可以自己过去拿<br/>！！！<br/>123</div></div>
    <div class="item item-right"><div class="bubble bubble-right">hello<br/>你好呀</div><div class="avatar"><img src="/api/bases/me/avata/free/" /></div></div>
    <div class="item item-center"><span>昨天 13:15</span></div>
    <div class="item item-right"><div class="bubble bubble-right">刚刚不在，不好意思</div><div class="avatar"><img src="/api/bases/me/avata/free/" /></div></div>
    <div class="item item-left"><div class="avatar"><img src="/static/gpt_35/image/chat-gpt.svg" /></div><div class="bubble bubble-left">没事<br/>你继续！</div></div>
    <div class="item item-left"><div class="avatar"><img src="/static/gpt_35/image/chat-gpt.svg" /></div><div class="bubble bubble-left">看到了<br/>在下面</div></div>
    <div class="item item-left"><div class="avatar"><img src="/static/gpt_35/image/chat-gpt.svg" /></div><div class="bubble bubble-left">你发一个<br/>刚刚网卡了</div></div>
    <div class="item item-right"><div class="bubble bubble-right">可以<br/>一会儿再发给你</div><div class="avatar"><img src="/api/bases/me/avata/free/" /></div></div>
</div>
{% endblock %}

{% block operate_bottom %}
<suspended-center>
    <textarea id="deleteItem" rows="3"></textarea>
    <button id="deleteItem" style="margin-top: 0px;">发送</button>
</suspended-center>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#editItem').click(function () {
            window.location.href = '/view/gpt_35/dialogue/update/{{ item_id }}/';
        });
    });
</script>
{% endblock %}