{% extends 'core/navigation.html' %}

{% block title %}
我的对话
{% endblock %}

{% block custom_head %}
<script src="/static/bases/js/text-tool.js"></script>
{% endblock %}

{% block main %}
<div id="details-content"></div>
{% endblock %}

{% block operate_bottom %}
<suspended-right>
    <button id="newItem">新对话</button>
</suspended-right>
{% endblock %}

{% block javascript %}
<script>
    var loadItemSwitch = false;
    var loadItemSkip = 0;
    var loadItemMark = true;
    function loadItemData() {
        if (!loadItemMark) {
            return;
        }
        loadItemMark = false;
        let searchData = { 'limit': 20, 'skip': loadItemSkip, 'orderby': 'update_time desc'};
        utilAjax(
            type = 'GET',
            url = '/api/gpt_35/dialogue/free/',
            data = searchData,
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                if (data.items.length == 20) {
                    loadItemSwitch = true;
                } else {
                    loadItemSwitch = false;
                }
                loadItemSkip += data.items.length;
                data.items.forEach(function (value, index) {
                    $('#details-content').append('<details class="itemDetails" onclick="event.preventDefault()" id="' + value.id + '"><summary>' + detailsContentText(value.dialogue_name) + '</summary></details>');
                });
                $('.itemDetails').click(function () {
                    window.location.href = '/view/gpt_35/dialogue/message/' + $(this).attr('id') + '/';
                });
            },
            complete = function (request, textStatus) {
                loadItemMark = true;
            },
            success_reminder = false,
            not_close = false,
        );
    }
    $(document).ready(function () {
        loadItemData();
        $('#newItem').click(function () {
            // 方案一: 跳转到创建页面
            // window.location.href = '/view/gpt_35/dialogue/create/';
            // 方案二: 直接以默认值创建后跳转到消息页面
            utilAjax(
                type = 'POST',
                url = '/api/gpt_35/dialogue/free/',
                data = {
                    'dialogue_name': '新对话',
                    'system_role': '你是一个乐于助人的助手。',
                },
                data_format = 'json',
                check = {
                    'dialogue_name': [/^[^\s]+(\s+[^\s]+)*$/, '对话名称不能为空'],
                    'system_role': [/^[^\s]+(\s+[^\s]+)*$/, '系统角色的人设不能为空'],
                },
                success = function (data, textStatus) {
                    window.location.href = '/view/gpt_35/dialogue/message/' + data._id + '/';
                },
                complete = function (request, textStatus) { },
                success_reminder = false,
                not_close = false,
            );
        });
    });
    $(window).scroll(function () {
        if (loadItemSwitch) {
            var w_h = parseFloat($(window).height());
            var doc_h = $(document).height();
            totalheight = w_h + parseFloat($(window).scrollTop()) + 2;
            if (totalheight >= doc_h) {
                loadItemData();
            }
        }
    });
</script>
{% endblock %}