{% extends 'core/navigation.html' %}

{% block title %}
对话消息
{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="/static/gpt_35/css/message.css">
{% endblock %}

{% block operate_left %}
<a href="/view/gpt_35/dialogue/">返回</a>
{% endblock %}

{% block operate_right_top %}
<a id="editItem" role="button" href="javascript:void(0);">编辑</a>
{% endblock %}

{% block main %}
<div id="details-content" class="messagesArea"></div>
{% endblock %}

{% block operate_bottom %}
<suspended-center>
    <textarea id="new_message" rows="1" autoHeight="true"></textarea>
    <button id="updateItemStream" style="margin-top: 0px;" aria-busy="false">发送</button>
</suspended-center>
{% endblock %}

{% block javascript %}
<script>
    function processBubbleCodeBlocks(content) {
        let codeSwitch = true;
        while (content.search('```') != -1) {
            if (codeSwitch) {
                content = content.replace(/```/, '<code>');
            } else {
                content = content.replace(/```/, '</code>');
            }
            codeSwitch = !codeSwitch;
        }
        return content;
    }
    function processBubble(content) {
        content = content.replace(/</g, '&lt;');
        content = content.replace(/>/g, '&gt;');
        content = processBubbleCodeBlocks(content);
        content = content.replace(/\n/g, '<br />');
        return content;
    }
    function addDetailsContent(value) {
        let content = value.content;
        content = processBubble(content);
        if (value.role == 'system') {
            $('#details-content').append('<div class="item item-center"><span>' + content + '</span></div>');
        } else if (value.role == 'user') {
            $('#details-content').append('<div class="item item-right"><div class="bubble bubble-right">' + content + '</div><div class="avatar"><img src="/api/bases/me/avata/free/" /></div></div>');
        } else if (value.role == 'assistant') {
            $('#details-content').append('<div class="item item-left"><div class="avatar"><img src="/static/gpt_35/image/openai-symbol.svg" /></div><div class="bubble bubble-left">' + content + '</div></div>');
        }
    }
    function streamDeliveryFailureHandling(new_message, error_content) {
        $('.item-right:last').remove();
        $('.item-left:last').remove();
        $('#new_message').val(new_message);
        addDetailsContent({role: 'system', content: error_content});
    }
    $(document).ready(function () {
        $.fn.autoHeight = function() {
            function autoHeight(elem) {
                elem.style.height = 'auto';
                elem.scrollTop = 0;  // 防抖动
                elem.style.height = elem.scrollHeight + 'px';
            }
            this.each(function() {
                autoHeight(this);
                $(this).on('keyup', function() {
                    autoHeight(this);
                });
            });
        }
        $('textarea[autoHeight]').autoHeight(); 
        utilAjax(
            type = 'GET',
            url = '/api/gpt_35/dialogue/{{ item_id }}/free/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                $('#details-content').append('<div class="item item-center"><span>' + data.dialogue_name + '</span></div>');
                data.messages.forEach(function (value, index) {
                    addDetailsContent(value);
                });
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = false,
        );
        $('#editItem').click(function () {
            window.location.href = '/view/gpt_35/dialogue/update/{{ item_id }}/';
        });
        $('#updateItem').click(function () {
            utilAjax(
                type = 'PUT',
                url = '/api/gpt_35/dialogue/{{ item_id }}/message/free/',
                data = {
                    'new_message': $('#new_message').val(),
                },
                data_format = 'json',
                check = {
                    'new_message': [/^[^\s]+(\s+[^\s]+)*$/, '新消息不能为空'],
                },
                success = function (data, textStatus) { 
                    data.messages.forEach(function (value, index) {
                        addDetailsContent(value);
                    });
                    $('#new_message').val('');
                },
                complete = function (request, textStatus) { },
                success_reminder = true,
                not_close = false,
            );
        });
        $('#updateItemStream').click(function () {
            if (!/^[^\s]+(\s+[^\s]+)*$/.test($('#new_message').val())) {
                swal({
                    icon: 'info',
                    title: '校验异常',
                    text: '新消息不能为空',
                    button: false,
                });
                checkResult = false;
                return false;
            }
            var url = '/api/gpt_35/dialogue/{{ item_id }}/message/stream/free/'
            var data = {
                'new_message': $('#new_message').val(),
            }
            let currentLength = 0;
            // 请求实时流传输接口
            var xhr = new XMLHttpRequest();
            xhr.onloadstart = function (e) {
                // 请求发出
                addDetailsContent({role: 'user', content: $('#new_message').val()});
                $('#new_message').val('');
                $('#new_message').attr('disabled', 'disabled');
                $('#updateItemStream').attr('disabled', 'disabled');
                $('#updateItemStream').attr('aria-busy', 'true');
                addDetailsContent({role: 'assistant', content: ''});
            };
            xhr.onprogress = function (e) {
                // 正在发送和加载数据
                let currentText = e.target.response.slice(currentLength);
                if (['`', '``', ' '].indexOf(currentText) != -1) {
                    // console.log('Skip(关键词不完整) Text = ' + currentText);
                } else if (currentText.search('```') != -1 && currentText.split('```').length-1 != 2) {
                    // console.log('Skip(代码没有闭合) Text = ' + currentText);
                } else {
                    // console.log('currentLength = ' + currentLength + '\n' + '  - SourceText = ' + currentText);
                    currentText = processBubble(currentText);
                    // console.log('  - DisplayText = ' + currentText);
                    currentLength = e.target.response.length;
                    $('.bubble-left:last').append(currentText);
                }
            };
            xhr.onabort = function (e) {
                // 请求中止, 比如用户调用了abort()方法
                streamDeliveryFailureHandling(data['new_message'], '请求中止');
            };
            xhr.onerror = function (e) {
                // 请求失败
                streamDeliveryFailureHandling(data['new_message'], '请求失败');
            };
            xhr.onload = function (e) {
                // 请求成功完成
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        // 请求响应正常
                        // console.log('CompleteText = ' + xhr.responseText);
                    } else {
                        // 请求响应异常
                        console.error('Response exception: ' + xhr.response);
                        streamDeliveryFailureHandling(data['new_message'], '请求响应' + xhr.status + '异常');
                    }
                }
            };
            xhr.ontimeout = function () {
                // 请求超时, 未完成
                console.error('The request for ' + url + ' timed out.');
                streamDeliveryFailureHandling(data['new_message'], '请求超时');  
            };
            xhr.onloadend = function (e) {
                // 请求完成, 不管成功或失败
                $('#updateItemStream').attr('aria-busy', 'false');
                $('#updateItemStream').removeAttr('disabled');
                $('#new_message').removeAttr('disabled');
            };
            xhr.open('PUT', url, true);
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.getResponseHeader('content-type', 'text/event-stream');
            xhr.send(JSON.stringify(data));
        });
    });
</script>
{% endblock %}